{% extends "base.html" %}

{% block title %}Admin Login - PageTurner Books{% endblock %}

{% block content %}

<div class="container">

    <div class="auth-container card">

        <h1>
            Admin Login
        </h1>

        <form
            method="POST"
            action="{{ url_for('admin_login') }}"
        >

            <div class="form-group">

                <label for="email">
                    Email
                </label>

                <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    required
                >

            </div>


            <div class="form-group">

                <label for="password">
                    Password
                </label>

                <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    required
                >

            </div>


            <button
                type="submit"
                class="btn btn-primary btn-full"
            >
                Login
            </button>

        </form>

    </div>

</div>

{% endblock %}